.contenidoPrincipal {
    position: fixed;
    margin-left: 300px;
    margin-top: 100px;  
    
 }
 .red1{
     background-image: url('../../assets/imagenes/linkedln.jpg');
    
  }
  .red2{
     background-image: url('../../assets/imagenes/twitter.jpg');
    
  }
  .red3 {
     background-image: url('../../assets/imagenes/instagram.jpg');
  }